.blog-wrap {
  max-width: 700px;
  margin: 0 auto;
}

.blog-goBack {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 2px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.blog-goBack:hover {
  background-color: #333;
  color: #fff;
}

.blog-goBack span:first-child {
  margin-right: 0.5rem;
}

.blog-goBack span:last-child {
  margin-left: 0.5rem;
}

.blog-wrap header {
  text-align: center;
}

.blog-date {
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 500;
}

.blog-wrap img {
  width: 100%;
}

.blog-subCategory {
  display: flex;
  justify-content: center;
}
.blog-subCategory > div {
  margin: 1rem;
}
.blog-desc {
  padding: 1rem;
  margin-top: 1.5rem;
}
